@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #0b0e13;

  color: #ffffffe5;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-f-header.is-open .r-f-header-background {
  left: 0;
}
.r-f-header-button-wrapper {
  margin-left: auto;
}
.r-f-header-icon {
  display: none;
}

.r-f-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-f-navigation-list.is-open {
  right: 0;
}
.r-f-header-icon-menu {
  display: block;
}

.r-f-header-icon-button.is-open .r-f-header-icon-menu {
  display: none;
}

.r-f-header-icon-button.is-open .r-f-header-icon-close {
  display: block;
}

.r-f-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #224a7133;
}

.r-f-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #224a7133;
  backdrop-filter: blur(20px);
}
.r-f-header.is-open .r-f-header-background {
  left: 0;
}
.r-f-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-f-header-icon-menu {
  display: block;
}

.r-f-header-icon-button.is-open .r-f-header-icon-menu {
  display: none;
}

.r-f-header-icon-button.is-open .r-f-header-icon-close {
  display: block;
}

.r-f-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.r-f-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  padding: 30px;
  background: #224a7133;
  backdrop-filter: blur(20px);
}

.r-f-navigation-list.is-open {
  right: 0;
}

.r-f-navigation-link {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
}

.r-f-navigation-link:hover,
.r-f-navigation-link:focus {
  color: #cff3ff;
}

.r-f-header.is-open {
  background-color: transparent;
}

.r-f-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .r-f-navigation-img {
    display: flex;
    margin-right: 14px;
  }
  .r-f-header-icon-title {
    display: none;
  }
  .r-f-header-button-wrapper {
    display: none;
  }
  .r-f-header {
    width: 100%;
    height: 64px;
    background: #224a7133;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .r-f-header-background {
  }
  .r-f-header-icon-button {
    display: none;
  }
  .r-f-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-f-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .r-f-navigation-link {
    text-decoration: none;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .r-f-navigation-item-desk {
    display: none;
  }
}
.r-f-home {
  width: 375px;
  margin: auto;
  padding-top: 56px;
}
.r-f-home-container {
  height: 734px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");

  padding: 172px 16px 0px;
  margin: auto;
}

.r-f-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.r-f-home-title {
  font-family: Manrope;
  font-weight: 500;
  font-size: 36px;
}
.r-f-home-text {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 24px 0 32px;
}
.r-f-home-link {
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background: #2975a7;

  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 343px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  border-radius: 8px;
}

.r-f-home-link:hover {
  background: #256893;
}
.r-f-home-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 56px 55px 0 0;
}

@media screen and (min-width: 1202px) {
  .r-f-home {
    width: 1440px;
    padding-top: 64px;
  }
  .r-f-home-container {
    height: 734px;
    background-image: url("/img/home/hero_section\ \(1\).png");
    padding: 200px 108px 0px;
  }
  .r-f-home-container-top {
    display: flex;
    flex-direction: column;
  }

  .r-f-home-title {
    font-family: Manrope;
    font-weight: 500;
    font-size: 48px;
  }

  .r-f-home-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 24px 0 48px;
    width: 600px;
  }
  .r-f-home-link {
    width: 364px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
  }

  .r-f-home-link:hover {
    background: #256893;
  }
  .r-f-home-text-two {
    font-family: Manrope;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 0;
    width: 288px;
    margin: 86px 0 0 auto;
  }
}
.r-f-about {
  margin: auto;
  width: 375px;
  height: 910px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About.png");
}
.r-f-about-container {
  width: 375px;
  padding: 60px 16px 0px;
  margin: auto;
}
.r-f-about-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-radius: 50px;
  border-width: 0.5px;
  border: 0.5px solid #8d8d8de5;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  width: fit-content;
}
.r-f-about-title-img {
  background: #ffffffe5;
  width: 8px;
  height: 8px;
  border-radius: 100px;
}
.r-f-about-title-text {
  padding-top: 16px;
  font-family: Manrope;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  background: linear-gradient(270deg, #ffffff 0%, #555555 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.r-f-about-text {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1202px) {
  .r-f-about {
    width: 1440px;
    height: 731px;
    background-image: url("/img/About\ \(1\).png");
  }
  .r-f-about-container {
    width: 1440px;
    padding: 135.5px 108px 0 732px;
  }
  .r-f-about-title {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    gap: 8px;
    border-radius: 50px;
    border-width: 0.5px;

    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .r-f-about-title-text {
    padding-top: 16px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
    width: 594px;
  }
  .r-f-about-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.r-f-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.r-f-why-text-one {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 40px;
}
.r-f-why-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.r-f-why-item {
  width: 343px;
  overflow: hidden;
  position: relative;
}
.r-f-why-image {
  width: 343px;
  height: 167px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}
.r-f-why-text-bold {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #cff3ff;
  margin: -123.5px 0 16px;
}
.r-f-why-img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.r-f-why-text {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 57.5px;
}

@media screen and (min-width: 1202px) {
  .r-f-why-container {
    width: 1440px;
    padding: 100px 108px;
  }
  .r-f-why-text-one {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding-top: 76px;
  }
  .r-f-why-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 21px;
  }
  .r-f-why-item {
    width: 224px;
    height: 265px;
  }
  .r-f-why-image {
    width: 224px;
    height: 167px;
  }
  .r-f-why-text-bold {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    margin: -125.5px 0 16px;
  }

  .r-f-why-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding-top: 55.5px;
  }
}

.r-f-uniqueness {
  margin: auto;
  width: 375px;
  height: 863px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Stress.png");
}
.r-f-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 60px 0 0 16px;
}
.r-f-uniqueness-text {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 24px;
}
.r-f-uniqueness-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.r-f-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.r-f-uniqueness-img {
  width: 24px;
}

@media screen and (min-width: 1202px) {
  .r-f-uniqueness {
    width: 1440px;
    height: 716px;
    background-image: url("/img/Stress\ \(1\).png");
  }
  .r-f-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 126px 732px 0 108px;
  }
  .r-f-uniqueness-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .r-f-uniqueness-list {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .r-f-uniqueness-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .r-f-uniqueness-img {
    width: 24px;
  }
}

.r-f-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}
.r-f-how-list {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.r-f-how-item {
  width: 343px;
  padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 60px;
  padding-left: 24px;
  border-radius: 8px;
  border-width: 0.5px;
  background: #224a7133;
  border: 0.5px solid #2975a7;
  box-shadow: 0px 4px 36px 0px #00fff040 inset;
}

.r-f-how-img {
  width: 86px;
  gap: 86px;
  margin: 0 auto;
}

.r-f-how-text-bold {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.r-f-how-text {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}
.r-f-how-text-two {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
}
@media screen and (min-width: 1202px) {
  .r-f-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px;
  }
  .r-f-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .r-f-how-item {
    width: 392px;
    height: 294px;
    gap: 24px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 60px;
    padding-left: 24px;
    border-radius: 8px;
    border-width: 0.5px;
  }

  .r-f-how-text-bold {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }

  .r-f-how-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 24px;
  }
  .r-f-how-text-two {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-f-characters {
  margin: auto;
  width: 375px;
  height: 1047px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/research.png");
}
.r-f-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
}

.r-f-characters-text {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1202px) {
  .r-f-characters {
    width: 1440px;
    height: 800px;
    background-image: url("/img/research\ \(1\).png");
  }
  .r-f-characters-container {
    padding: 150px 111px 0 729px;
    margin: auto;
    width: 1440px;
  }
  .r-f-characters-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.r-f-reviews {
  margin: auto;
  width: 375px;
  height: 1826px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/reviews.png");
}
.r-f-reviews-container {
  margin: auto;
  padding: 60px 16px 0;
}
.r-f-reviews-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.r-f-reviews-item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top-width: 0.5px;
  border-top: 0.5px solid #cff3ff;
  box-shadow: 12px 12px 20px 0px #0000001a;
}
.r-f-reviews-imgq {
  width: 40px;
  height: 40px;
}
.r-f-reviews-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 16px 0;
}
.r-f-reviews-item-top {
  display: flex;
  align-items: center;
  gap: 16px;
}
.r-f-reviews-img {
  width: 46px;
  height: 46px;
}
.r-f-reviews-text-bold {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #cff3ff;
}
.r-f-reviews-text-boldd {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 4px;
}
@media screen and (min-width: 1202px) {
  .r-f-reviews {
    width: 1440px;
    height: 1125px;
    background-image: url("/img/reviews/reviews\ \(1\).png");
  }
  .r-f-reviews-container {
    margin: auto;
    padding: 100px 108px;
  }
  .r-f-reviews-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .r-f-reviews-item {
    width: 600px;
    height: 236px;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top-width: 0.5px;
  }

  .r-f-reviews-text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 16px 0;
  }
  .r-f-reviews-item-top {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .r-f-reviews-text-bold {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .r-f-reviews-text-boldd {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.r-f-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.r-f-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.r-f-faq-item {
  border-radius: 8px;
  padding: 16px;
  background: #224a7133;
}

.r-f-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 16px;
}

.r-f-faq-answer {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.r-f-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.r-f-toggle-button img {
  transition: transform 0.3s ease;
  width: 32px;
  height: 32px;
}
.r-f-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.r-f-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding: 16px;
  letter-spacing: 0%;
}

.r-f-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1202px) {
  .r-f-faq-container {
    padding: 100px 108px;
    width: 1440px;
    margin: auto;
  }
  .r-f-faq-list {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .r-f-faq-item {
    border-radius: 8px;
    padding: 16px;
    background: #224a7133;
  }

  .r-f-faq-question {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .r-f-faq-answer {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.r-f-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.r-f-features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.r-f-features-item {
  width: 343px;
  height: 242px;
  gap: 24px;
  padding-top: 40px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  border-width: 0.5px;
  background: #224a7133;
  border: 0.5px solid #2975a7;
  box-shadow: 0px 4px 36px 0px #00fff040 inset;
}
.r-f-features-img {
  width: 86px;
  height: 86px;
  margin: 0 auto;
}
.r-f-features-text-bold {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 24px;
}
.r-f-features-text-bolds {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #cff3ff;
  text-decoration: none;
  padding-top: 4px;
}

@media screen and (min-width: 1202px) {
  .r-f-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 108px;
  }
  .r-f-features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 76px;
  }
  .r-f-features-item {
    width: 600px;
    height: 250px;
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    border-width: 0.5px;
  }

  .r-f-features-text-bold {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
  .r-f-features-text-bolds {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-f-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.r-f-container h1 {
  font-family: Manrope;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 30px;
}

.r-f-container h2 {
  margin-top: 22px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.r-f-container h3 {
  margin-top: 10px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.r-f-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.r-f-container ul li {
  margin-bottom: 10px;
}
.r-f-container p {
  margin-top: 10px;
}
.r-f-container a {
  text-decoration: none;
  color: #5d80ff;
  transition: all 0.3s ease-in-out;
}

.r-f-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1202px) {
  .r-f-container {
    padding: 170px 212px 96px;
    width: 1440px;
    margin: auto;
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .r-f-container h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0%;
  }

  .r-f-container h2 {
    font-family: Manrope;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .r-f-container h3 {
    margin-top: 20px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .r-f-container ul {
    margin-top: 20px;
  }

  .r-f-container ul li {
    margin-bottom: 10px;
  }
  .r-f-container p {
    margin-top: 20px;
  }
}

.r-f-footer-container {
  background: #000d1e;

  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.r-f-footerq {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.r-f-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.r-f-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.r-f-footer-copyright {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.r-f-footer-div {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.r-f-footer-img {
  height: 40px;
}
@media screen and (min-width: 1202px) {
  .r-f-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;
    gap: 60px;
  }
  .r-f-footerq {
    display: flex;
    flex-direction: row;
    gap: 219px;
  }
  .r-f-footer-div {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 438px;
  }

  .r-f-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 70px;
  }

  .r-f-footer-text {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }

  .r-f-footer-copyright {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.r-f-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #e8e8e8;

  z-index: 1000;
  display: none;
}

.r-f-cookie-popup-text-two {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #0b0e13;
}

.r-f-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.r-f-cookie-button {
  border: 1px solid #000000;
  background-color: transparent;
  width: 343px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 8px;
  border-width: 1px;
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.r-f-cookie-button:hover {
  background: #000000;
  color: #ffffff;
}
#accept-cookies {
  border: none;
  background: #29a77f;
  color: #ffffff;
}
#accept-cookies:hover {
  background: #1d8c69;

  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.r-f-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .r-f-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .r-f-cookie-popup-text-two {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-skip-ink: none;
    width: 808px;
  }

  .r-f-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .r-f-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
  .r-f-cookie-button {
    width: 184px;

    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 8px;
    border-width: 1px;
  }
}
